{% extends "layout.html"%}
{% block content%}
<h1>Prepare</h1>  

<p/>
<form action="/prepare" method="POST">
Admin Password <input type="text" name="pwd"/>
<input type="submit" value="Prepare"/>
</form> <p/>

<h2>Verify Admin Password</h2> <br>
<form action="/verifyadminpwd" method="POST">
Admin Password <input type="text" name="pwd"/>
<input type="submit" value="verify"/>
</form><br>

<h2>Verify Eligible User</h2> <br>
<form action="/verifyeligible" method="POST">
Name <input type="text" name="name"/>
<input type="submit" value="verify"/>
</form><br>

<h2>Verify Registered User</h2> <br>
<form action="/verifyregistered" method="POST">
Name <input type="text" name="name"/>
<input type="submit" value="verify"/>
</form><br>

{% endblock %}
